<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <script
      type='text/javascript'
      src='https://cdn.jsdelivr.net/jquery/latest/jquery.min.js'
    ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4h_XbRjVc5czSPnE7lU4HwlOnxX3DmkQ&callback=initMap&libraries=&v=weekly" defer></script>

    <title>Clima e Previsão do Tempo</title>
  </head>
  <body>
    <nav class='bg-gray-800'>
      <div class='mx-auto max-w-7xl px-2 sm:px-6 lg:px-8'>
        <div class='relative flex h-16 items-center justify-between'>
          <div class='absolute inset-y-0 left-0 flex items-center sm:hidden'>
            <!-- Mobile menu button-->
            <button
              type='button'
              class='relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white'
              aria-controls='mobile-menu'
              aria-expanded='false'
            >
              <span class='absolute -inset-0.5'></span>
              <span class='sr-only'>Open main menu</span>
              <svg
                class='block h-6 w-6'
                fill='none'
                viewBox='0 0 24 24'
                stroke-width='1.5'
                stroke='currentColor'
                aria-hidden='true'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'
                />
              </svg>
              <svg
                class='hidden h-6 w-6'
                fill='none'
                viewBox='0 0 24 24'
                stroke-width='1.5'
                stroke='currentColor'
                aria-hidden='true'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  d='M6 18L18 6M6 6l12 12'
                />
              </svg>
            </button>
          </div>
          <div
            class='flex flex-1 items-center justify-center sm:items-stretch sm:justify-start'
          >
            <div class='flex flex-shrink-0 items-center'>
              <img
                class='h-8 w-auto'
                src='https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500'
                alt='Clima e Previsão do Tempo'
              />
            </div>
            <div class='hidden sm:ml-6 sm:block'>
              <div class='flex space-x-4'>
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a
                  href='/'
                  class='bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium'
                  aria-current='page'
                >Clima</a>
                <a
                  href='#'
                  class='text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium'
                >Agro</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class='sm:hidden' id='mobile-menu'>
        <div class='space-y-1 px-2 pb-3 pt-2'>
          <a
            href='#'
            class='bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium'
            aria-current='page'
          >Clima</a>
          <a
            href='#'
            class='text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium'
          >Agro</a>
        </div>
      </div>
    </nav>

    <div class='relative isolate overflow-hidden bg-gray-900 py-16'>
      <div class='mx-auto max-w-7xl px-6 lg:px-8'>
        <div
          class='mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2'
        >
          <div class='max-w-xl lg:max-w-lg'>
            <h2
              class='text-3xl font-bold tracking-tight text-white sm:text-4xl'
            >Clima e previsão do tempo</h2>
            <p class='mt-4 text-lg leading-8 text-gray-300'>Explore o clima
              atual e futuro de sua cidade</p>
            <div class='mt-6 flex max-w-md gap-x-4'>
              <label for='cidade' class='sr-only'>Cidade</label>
              <input
                id='cidade'
                name='cidade'
                type='text'
                autocomplete='text'
                required
                class='min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6'
                placeholder='Busque por uma cidade...'
              />
              <button
                id='btn_buscar'
                type='button'
                class='flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500'
              >Buscar</button>
            </div>
          </div>
          <dl class='grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2'>
            <div class='flex flex-col items-start'>
              <div class='rounded-md bg-white/5 p-2 ring-1 ring-white/10'>
                <svg
                  class='h-6 w-6 text-white'
                  fill='none'
                  viewBox='0 0 24 24'
                  stroke-width='1.5'
                  stroke='currentColor'
                  aria-hidden='true'
                >
                  <path
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    d='M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z'
                  />
                </svg>
              </div>
              <dt class='mt-4 font-semibold text-white'>Previsão do tempo</dt>
              <dd class='mt-2 leading-7 text-gray-400'>Consulte as previsões
                meteorológicas precisas para a sua localização.</dd>
            </div>
            <div class='flex flex-col items-start'>
              <div class='rounded-md bg-white/5 p-2 ring-1 ring-white/10'>
                <svg
                  class='h-6 w-6 text-white'
                  fill='none'
                  viewBox='0 0 24 24'
                  stroke-width='1.5'
                  stroke='currentColor'
                  aria-hidden='true'
                >
                  <path
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    d='M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002'
                  />
                </svg>
              </div>
              <dt class='mt-4 font-semibold text-white'>Agro</dt>
              <dd class='mt-2 leading-7 text-gray-400'>Tome decisões agrícolas
                informadas com nossa consulta de clima e previsão do tempo.</dd>
            </div>
          </dl>
        </div>
      </div>
      <div
        class='absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6'
        aria-hidden='true'
      >
        <div
          class='aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30'
          style='clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)'
        ></div>
      </div>
    </div>
    <div
      class='relative isolate overflow-hidden bg-gray-900 py-16'
    >
      <div class='mx-auto max-w-7xl px-6 lg:px-8'>
        <div
          class='mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2'
        >
          <div class='max-w-xl lg:max-w-lg' id='data-weather'>
            {{!-- Aqui são carregados os dados do local pesquisado --}}
            <h1 class="text-3xl font-semibold text-gray-800 dark:text-gray-200" id="city-name"></h1>
            <p class="mt-2 text-gray-500 dark:text-gray-400 lg:max-w-xl description-link" id="country"></p>
            <br>
            <div class="flex items-center" id="temp-c">
              <h1 class="text-2xl font-semibold text-gray-800 dark:text-gray-200"></h1>
            </div>
            <h1 class="text-2xl font-semibold text-gray-800 dark:text-gray-200" id="description"></h1>
            <br>
            <p class="mt-2 text-gray-500 dark:text-gray-400 lg:max-w-xl description-link" id="localtime"></p>
            <p class="mt-2 text-gray-500 dark:text-gray-400 lg:max-w-xl description-link" id="wind-kph"></p>
            <p class="mt-2 text-gray-500 dark:text-gray-400 lg:max-w-xl description-link" id="last-updated"></p>
          </div>
          <dl class='grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2' id="gmaps" style="display: none;">
            {{!-- Aqui aparece o mapa do Google Maps --}}
          </dl>
        </div>
      </div>
    </div>

    <script type='text/javascript'>
      $("#btn_buscar").click(() => { 
        const cidade = $('#cidade').val(); 
        $.ajax({
          method: 'get', 
          url: `http://localhost:3000/weather/${cidade}`,
        }).done((data) => {
          let location = data.location;
          let current = data.current;
          let region = "";

          if (location.region.length > 0) {
            region = `, ${location.region}`;
          }
          
          const formatedlocaltime = formatDate(location.localtime);
          const formatedlastupdate = formatDate(current.last_updated);

          $('#city-name').text(`${location.name}${region}`);
          $('#country').text(location.country);
          $('#temp-c').html(`<img src="${current.condition.icon}" class="mr-2" style="padding-left: 0;" alt="icon"/><h1 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">${current.temp_c.toFixed(0)}º C</h1>`);
          $('#description').text(`${current.condition.text}`);
          $('#localtime').html(`Data e hora local:&nbsp;${formatedlocaltime}`);
          $('#wind-kph').html(`Velocidade do vento:&nbsp;${current.wind_kph}&nbsp;km/h`);
          $('#last-updated').html(`Última atualização:&nbsp;${formatedlastupdate}`);

          console.log(data);
          $('#gmaps').show();

          initMap(data.location.lat, data.location.lon, data.location.name);
        });
      });

      function formatDate(date) {
          const parts = date.split(/[- :]/);
          const datetime = new Date(
            parts[0], //ano
            parts[1] - 1, //mês
            parts[2], //dia
            parts[3], //hora
            parts[4] //minuto
          );
          const year = datetime.getFullYear();
          const month = (datetime.getMonth() + 1) < 10 ? `0${datetime.getMonth() + 1}` : datetime.getMonth() + 1;
          const day = datetime.getDate() < 10 ? `0${datetime.getDate()}` : datetime.getDate();
          const hours = datetime.getHours() < 10 ? `0${datetime.getHours()}` : datetime.getHours();
          const minutes = datetime.getMinutes() < 10 ? `0${datetime.getMinutes()}` : datetime.getMinutes();
          const formateddatetime = `${day}/${month}/${year} ${hours}:${minutes}`;

          return formateddatetime;
      }

      function initMap(lat, lng, location) {
        const myLatLng = {
          lat: lat,
          lng: lng
        };

        const map = new google.maps.Map(document.getElementById("gmaps"), {
          zoom: 12,
          center: myLatLng,
          fullscreenControl: false,
          zoomControl: true,
          streetViewControl: false
        });

        new google.maps.Marker({
          position: myLatLng,
          map,
          title: location
        });
      }
    </script>
  </body>
</html>